/* Fonts & Color Variables */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;

  --background-color: #ffffff;
  --default-color: #272829;
  --heading-color: #45505b;
  --accent-color: #0563bb;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;

  --nav-color: #45505b;
  --nav-hover-color: #0563bb;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #212529;
  --nav-dropdown-hover-color: #0563bb;

  scroll-behavior: smooth;
}

.light-background {
  --background-color: #f9f9f9;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #060606;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/* Base Styling */
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: rgba(5, 99, 187, 0.75); /* Approximate fallback for 25% transparent accent */
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.main {
  margin-left: 0; /* Or make sure it doesn't leave space */
  padding: 0;
}
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
    overflow-x: hidden;
  width: 100%;
}
